{% extends 'layout.html.twig' %}
{% trans_default_domain 'register' %}
{% block body_html %}
    <row class="welcome">
        <columns>
            <spacer size="30"></spacer>
            <h2>
                <center>
                    Nueva oferta
                </center>
            </h2>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>

    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>ID de Oferta</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ id }}</p>
        </columns>
        <columns large="3"></columns>
    </row>
    
    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>Cliente</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ client }}</p>
        </columns>
        <columns large="3"></columns>
    </row>

    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>Comienza desde</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ start_from_day }}</p>
        </columns>
        <columns large="3"></columns>
    </row>

    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>Período</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ period }}</p>
        </columns>
        <columns large="3"></columns>
    </row>

    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>Habitaciones</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ rooms }}</p>
        </columns>
        <columns large="3"></columns>
    </row>

    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>Baños</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ bathrooms }}</p>
        </columns>
        <columns large="3"></columns>
    </row>

    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>Cocina</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ kitchen }}</p>
        </columns>
        <columns large="3"></columns>
    </row>

    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>Salas</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ livingrooms }}</p>
        </columns>
        <columns large="3"></columns>
    </row>

    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>Acceso</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ access }}</p>
        </columns>
        <columns large="3"></columns>
    </row>

    {% if access_description != '' %}
    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>Descripción de Acceso</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ access_description }}</p>
        </columns>
        <columns large="3"></columns>
    </row>
    {% endif %}

    {% if voucher|length > 0 %}
        <row>
            <columns large="3" class="large-offset-3" valign="middle">
                <h6>Subtotal</h6>
            </columns>
            <columns large="3" valign="middle">
                <p class="text-center">{{
                        (voucher[0].type is same as ('percent')) ?
                            (price_per_service * 100)  / (100 - voucher[0].discount) :
                            (price_per_service + voucher[0].discount)
                    }}€
                </p>
            </columns>
            <columns large="3"></columns>
        </row>

        <row>
            <columns large="3" class="large-offset-3" valign="middle">
                <h6>Código de Cupón Aplicado</h6>
            </columns>
            <columns large="3" valign="middle">
                <p class="text-center">{{ voucher[0].code }}</p>
            </columns>
            <columns large="3"></columns>
        </row>
    {% endif %}

    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>Total del Servicio</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ price_per_service }}€</p>
        </columns>
        <columns large="3"></columns>
    </row>


    <row>
        <columns>
            <center>
                <button class="rounded" href="{{ more_details_url }}">Más Detalles</button>
            </center>
        </columns>
    </row>
{% endblock %}