{% extends 'layout.html.twig' %}
{% trans_default_domain 'register' %}
{% block body_html %}
    <row class="welcome">
        <columns>
            <spacer size="30"></spacer>
            <h2>
                <center>
                    Hi {{ user}}, the payment was released!
                </center>
            </h2>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p class="text-center"> The bill payment ({{ payment_release }}$) has been released. </p>
        </columns>
    </row>
{% endblock %}