{% extends 'layout.html.twig' %}
{% trans_default_domain 'register' %}
{% block body_html %}
    <row class="welcome">
        <columns>
            <spacer size="30"></spacer>
            <h2>
                <center>
                    Nueva oferta disponible para ti
                </center>
            </h2>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>

    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>ID de Oferta</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ id }}</p>
        </columns>
        <columns large="3"></columns>
    </row>

    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>Cliente</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ client }}</p>
        </columns>
        <columns large="3"></columns>
    </row>

    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>Comienza desde</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ start_from_day }}</p>
        </columns>
        <columns large="3"></columns>
    </row>

    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>Período</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ period }}</p>
        </columns>
        <columns large="3"></columns>
    </row>

    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>Habitaciones</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ rooms }}</p>
        </columns>
        <columns large="3"></columns>
    </row>

    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>Baños</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ bathrooms }}</p>
        </columns>
        <columns large="3"></columns>
    </row>

    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>Cocina</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ kitchen }}</p>
        </columns>
        <columns large="3"></columns>
    </row>

    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>Salas</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ livingrooms }}</p>
        </columns>
        <columns large="3"></columns>
    </row>

    <row>
        <columns large="3" class="large-offset-3" valign="middle">
            <h6>Acceso</h6>
        </columns>
        <columns large="3" valign="middle">
            <p class="text-center">{{ access }}</p>
        </columns>
        <columns large="3"></columns>
    </row>

    {% if access_description != '' %}
        <row>
            <columns large="3" class="large-offset-3" valign="middle">
                <h6>Descripción de Acceso</h6>
            </columns>
            <columns large="3" valign="middle">
                <p class="text-center">{{ access_description }}</p>
            </columns>
            <columns large="3"></columns>
        </row>
    {% endif %}

    <row>
        <columns>
            <center>
                <button class="rounded" href="{{ confirmation_link }}">Asignarme a la Oferta</button>
                {# <form action="{{ confirmation_link }}" method="PUT">
                    <button type="submit" class="btn-confirm">Confirmation Link</button>
                </form> #}
            </center>
        </columns>
    </row>
{% endblock %}