{% extends 'layout.html.twig' %}
{% trans_default_domain 'resetting_password' %}
{% block body_html %}
    <row class="welcome">
        <columns>
            <spacer size="30"></spacer>
            <h2>
                <center>
                    Welcome back <a rel="nofollow" href="#">{{ email }}</a>!
                </center>
            </h2>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p class="text-center">                    
                Need to reset your password? No problem!
            </p>  
            <p class="text-center">
                Please click the buttom bellow and you'll be on your way
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <button class="rounded" href="{{ confirmationUrl }}">Reset Password</button>
            </center>
        </columns>
    </row>  
{% endblock %}