{% extends 'layout.html.twig' %}
{% trans_default_domain 'resetting_password' %}
{% block body_html %}
    <row class="welcome">
        <columns>
            <spacer size="30"></spacer>
            <h2>
                <center>
                    Bienvenido de nuevo <a rel="nofollow" href="#">{{ email }}</a>!
                </center>
            </h2>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p class="text-center">
                ¿Necesita restablecer su contraseña? ¡No hay problema!
            </p>
            <p class="text-center">
                Solo necesitas hacer clic en el botón de abajo.
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <button class="rounded" href="{{ confirmationUrl }}">Restablecer Contraseña</button>
            </center>
        </columns>
    </row>
{% endblock %}