{% extends 'layout.html.twig' %}
{% trans_default_domain 'register' %}
{% block body_html %}
    <row class="welcome">
        <columns>
            <spacer size="30"></spacer>
            <h2>
                <center>
                    ¡Felicidades!
                </center>
            </h2>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <center>
                <a rel="nofollow" href="#">{{ worker }}</a>
            </center>
        </columns>
    </row>
    <row>
        <columns>
            <p class="text-center">Te han asignado a la oferta <span>{{id}}</span> de <span>{{client}}</span></p>
        </columns>
    </row>
{% endblock %}