{% extends 'layout.html.twig' %}
{% trans_default_domain 'register' %}
{% block body_html %}
    <row class="welcome">
        <columns>
            <spacer size="30"></spacer>
            <h2>
                <center>
                    Hola, {{ user }} <br>
                    El pago ha sido bloqueado
                </center>
            </h2>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p class="text-center">
                El pago de la factura para la oferta <span>{{ offer_id }}</span> creada con fecha {{ offer_created_at }}<br>
                ha bloqueado <span>{{amount_blocked}}€</span> debido a la solicitud de trabajo inscrita con fecha {{ day }}<br>
                en el horario: {{ day_start_time }} - {{ day_end_time }}. </p>
        </columns>
    </row>
{% endblock %}

