{% extends 'layout.html.twig' %}
{% trans_default_domain 'register' %}
{% block body_html %}
    <row class="welcome">
        <columns>
            <spacer size="30"></spacer>
            <h2>
                <center>
                    La oferta ya no está disponible
                </center>
            </h2>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <center>
                <a rel="nofollow" href="#">{{ worker }}</a>
            </center>
        </columns>
    </row>
    <row>
        <columns>
            <p class="text-center">La oferta debe haber sido tomada por otro trabajador.</p>
        </columns>
    </row>
{% endblock %}

{#{% extends 'layout.html.twig' %}#}
{#{% trans_default_domain 'register' %}#}
{#{% block body_html %}#}
{#    <row class="welcome">#}
{#        <columns>#}
{#            <spacer size="30"></spacer>#}
{#            <h2>#}
{#                <center>#}
{#                    The Offer is not Available anymore#}
{#                </center>#}
{#            </h2>#}
{#            <spacer size="10"></spacer>#}
{#        </columns>#}
{#    </row>#}
{#    <spacer size="30"></spacer>#}
{#    <row>#}
{#        <columns>#}
{#            <center>#}
{#                <a rel="nofollow" href="#">{{ worker }}</a>#}
{#            </center>#}
{#        </columns>#}
{#    </row>#}
{#    <row>#}
{#        <columns>#}
{#            <p class="text-center">The offer must has been taken by another worker</p>#}
{#        </columns>#}
{#    </row>#}
{#{% endblock %}#}