* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: helvetica;
    user-select: none;
}

body {
    width: 100vw;
    margin-top: 15px;
    background: rgba(0,0,0,.1);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


table {
    width: 600px;
    border-radius: 10px;
    padding: 0;
    background: white; 
    text-align: center;           
}

thead th{
    border-radius: 10px 10px 0 0;
    font-size: 1.5em;
    padding: 10px 8px;
    background: rgba(0,0,0,.2);
    color: #0097F6
}

table td{
    max-width: 250px;
}

tbody td{
    padding: 3px 15px;
    color: #000;
}

img{
    width: 32px
}

tbody tr:first-child td{
    padding-top: 20px;
}

tbody b{
    font-size: 1.2em;
}

div{
    width: 100%;
    word-wrap: break-word;   
    margin: 15px auto; 
    font-size: 0.9em;
}

.email{
    color: #0097F6;
}

a {
    text-decoration: none;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    background: #0097F6;
    border-radius: 50px;
    width: 50px;
}

span{
    color: #0097F6;
    font-weight: bold;
    font-size: 1.2em;
}

.link{
    padding: 15px 0 30px 0;
}

.line-divider{
    border-top: 1px solid rgba(0,0,0,.3);
    margin-top: 10px;
}