body {
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    font-family: Helvetica, Arial, sans-serif;
    user-select: none;
}
h2 {
    background-color: #264459;
    color: #ffffff;
    /*padding: 30px 0 50px 0;*/
    font-weight: normal;
}
a[rel^="nofollow"] {
    color: #ffffff;
    text-decoration: none;
}
hr {
    border: none;
    border-top: 3px solid #264459;
    margin: 20px;
}
.welcome {
    background-color: #264459;
}
.bottom {
    background-color: #efefee;
}
.text-center {
    text-align: center;
}

span{
    color: #0097F6;
    font-weight: bold;
    font-size: 1.2em;
}
h3{
    font-weight: bold;
}