{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css'), source('@styles/email.css')) %}
    <container>
        <spacer size="30"></spacer>
        <row class="header">
            <columns>
                <center>
                    <img src="{{ logo }}" alt="Kassista Logo"/><h3 class="text-center">Kassista</h3>
                </center>
            </columns>
        </row>

        {% block body_html %}{% endblock %}

        <row class="bottom">
            <columns>
                <center>
                    <spacer size="20"></spacer>
                    <p class="text-center"> If you didn't request this, you can ignore this email </p>
                </center>            
            </columns>
        </row>
    </container>
{% endapply %}