{% apply inline_css(source('@styles/email.css')) %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
    {% block body_html %}{% endblock %}
</body>
</html>
{% endapply %}

{# Register #}
{% extends 'layout.html.twig' %}
{% trans_default_domain 'register' %}
{% block body_html %}
    <table>
        <thead>
            <tr>
                <th style="position: relative;">
                    <img src="{{ logo }}" alt="logo" width="22%" style="position: absolute; left: 12px; top: 10px;"/><p>Kassista</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <b>Welcome</b>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="email">{{ email }}</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>Thank you for signing up for <span>Kassista</span></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>Please verify your email address by clicking the buttom bellow</div>
                </td>
            </tr>
            <tr>
                <td class="link">
                    <a href="{{ confirmationUrl }}">
                        Comfirm my Account
                    </a>
                </td>
            </tr>
            <tr>
                {# <td style="padding-bottom: 25px;"> #}
                <td>
                    <div>If you didn't request this, please ignore this email</div>
                    <div class="line-divider"></div>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}