{% extends 'layout.html.twig' %}
{% trans_default_domain 'register' %}
{% block body_html %}
    <row class="welcome">
        <columns>
            <spacer size="30"></spacer>
            <h2>
                <center>
                    Bienvenido <a rel="nofollow" href="#">{{ email }}</a>
                </center>
            </h2>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p class="text-center">
                Gracias por registrarte en <span> Kassista </span>
            </p>                
            <p class="text-center">
                Comience con su primera oferta y conéctese con los profesionales que pueden cumplir con los requisitos de limpieza de su hogar.
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <p class="text-center">Verifique su dirección de correo electrónico haciendo clic en el botón de abajo</p>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <button class="rounded" href="{{ confirmationUrl }}">Confirmar mi Cuenta</button>
            </center>
        </columns>
    </row>
{% endblock %}