{% extends 'layout.html.twig' %}
{% trans_default_domain 'register' %}
{% block body_html %}
    <row class="welcome">
        <columns>
            <spacer size="30"></spacer>
            <h2>
                <center>
                    Welcome <a rel="nofollow" href="#">{{ email }}</a>
                </center>
            </h2>
            <spacer size="10"></spacer>
        </columns>
    </row>
    <spacer size="30"></spacer>
    <row>
        <columns>
            <p class="text-center">                    
                Thank you for signing up to <span>Kassista</span>
            </p>                
            <p class="text-center">                
                Get started on your first offer and connect with the professionals that can achieve your house cleaning requirements
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <p class="text-center">Please verify your email address by clicking the buttom bellow</p>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <button class="rounded" href="{{ confirmationUrl }}">Confirm my Account</button>
            </center>
        </columns>
    </row>
{% endblock %}